body {
    background-image: none;
    font-size: 11pt;
}

.hidden-print {
    display: none;
}

#leksjonprintHeader {
    display: flex;
    align-items: center;
}

#leksjonprintHeader .cdLogo {
    margin-right: 35px;
}

#leksjonprintHeader .visningslogo {

}

#leksjonoppsummering .ditt-svar {
    display: none;
}

#leksjonoppsummering .summary-answer {
    background-color: #F3F5F4;
    padding: 20px;
    max-width: 100%;
}