body {
    background-image: none;
    font-size: 11pt;
}

#leksjonprintHeader {
    display: flex;
    align-items: center;
}

.cdLogo {
    height: 100px;
    width: 200px;
    background-color: #000000;
}

.visningslogo {
    height: 70px;
    width: 400px;
}

.ditt-svar {
    display: none;
}

.summary-answer {
    background-color: #F3F5F4;
    padding: 20px;
    max-width: 75%;
}