body {
    background-image: none;
    font-size: 11pt;
}

#leksjonprintHeader {
    display: flex;
    align-items: center;
}

.cdLogo {
    height: 100px;
    width: 200px;
    float: left;
    background-color: #000000;
}

.visningslogo {
    height: 70px;
    width: 400px;
    float: right;
}
